[submodule "base16-alacritty"]
	path = base16-alacritty
	url = https://github.com/aarowill/base16-alacritty
[submodule "base16-sway"]
	path = base16-sway
	url = https://github.com/rkubosz/base16-sway
[submodule "base16-waybar"]
	path = base16-waybar
	url = https://github.com/mnussbaum/base16-waybar
[submodule "base16-qutebrowser"]
	path = base16-qutebrowser
	url = https://github.com/theova/base16-qutebrowser
[submodule "base16-zathura"]
	path = base16-zathura
	url = https://github.com/HaoZeke/base16-zathura.git
[submodule "base16-xresources"]
	path = base16-xresources
	url = https://github.com/base16-templates/base16-xresources
