/* Adapted from https://hg.sr.ht/~begs/dotfiles */

@import "../base16-waybar/colors/base16-gruvbox-dark-hard.css";

/* Gruvbox */
@define-color light #ebdbb2;
@define-color dark #282828;
@define-color warning #fabd2f;
@define-color critical #cc241d;

@define-color mode #a89984;
@define-color workspaces #458588;
@define-color workspacesfocused #83a598;
@define-color sound #d3869b;
@define-color network #b16286;
@define-color memory #8ec07c;
@define-color cpu #98971a;
@define-color temp #b8bb26;
@define-color layout #689d6a;
@define-color battery #fabd2f;
@define-color date #282828;
@define-color time #ebdbb2;

@keyframes blink-warning {
	70% {color: @light;                            }
	to  {color: @light; background-color: @warning;}
}

@keyframes blink-critical {
	70% {color: @light;                             }
	to  {color: @light; background-color: @critical;}
}

/* Reset all styles */
* {
	border: none;
	border-radius: 0;
	min-height: 0;
	margin: 0;
	padding: 0;
}

/* The whole bar */
#waybar {
	background: transparent;
	color: @light;
	font-family: DejaVu Sans, FreeSerif;
	font-size: 10pt;
	font-weight: bold;
}

/* All modules */
#battery,
#clock,
#mode,
#network,
#pulseaudio,
#custom-alsa,
#tray {
	padding: 0 10px;
}
/* Blinking */
#mode,
#battery {
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

/* Critical */
#battery.critical {
	color: @critical;
}
/* Critical blinking */
#mode,
#battery.critical.discharging {
	animation-name: blink-critical;
	animation-duration: 2s;
}

/* Warning */
#network.disconnected,
#battery.warning {
	color: @warning;
}
/* Warning blinking */
#battery.warning.discharging {
	animation-name: blink-warning;
	animation-duration: 3s;
}

/* Arrows */
#custom-arrow-battery,
#custom-arrow-clock-date,
#custom-arrow-clock-time,
#custom-arrow-network,
#custom-arrow-pulse,
#custom-arrow-workspaces {
	font-size: 16px;
}

/* Colours */

#custom-arrow-workspaces {color:      @workspaces; background: transparent;}

#workspaces button         {background: @workspaces;        color: @dark; }
#workspaces button.focused {background: @workspacesfocused; color: @dark; }
#mode                      {background: @mode;              color: @light;}


#custom-arrow-pulse      {background: transparent; color:      @sound;     }
#custom-arrow-network    {background: @sound;      color:      @network;   }
#custom-arrow-battery    {background: @network;    color:      @battery;   }
#custom-arrow-clock-date {background: @battery;    color:      @date;      }
#custom-arrow-clock-time {background: @date;       color:      @time;      }

#pulseaudio { background: @sound;   color: @dark; }
#network    { background: @network; color: @light;}
#battery    { background: @battery; color: @dark; }
#tray       { background: @date;    color: @light;}
#clock.date { background: @date;    color: @light;}
#clock.time { background: @time;    color: @dark; }

#workspaces button {
	padding: 0 5px;
}

#window {
	margin: 0 40px;
}
