/* Adapted from https://git.sr.ht/~begs/dotfiles */

@import "../base16-waybar/colors/base16-gruvbox-dark-hard.css";

@define-color light    @base07;
@define-color dark     @base00;
@define-color barbg    transparent;
@define-color warning  @base0E;
@define-color critical @base0F;

@define-color workspaces    @base0D;
@define-color thisworkspace @base0A;
@define-color mode          @base0F;
@define-color sound         @base0E;
@define-color network       @base0D;
@define-color backlight     @base0F;
@define-color battery       @base0A;
@define-color date          @base0C;
@define-color time          @base0B;

@keyframes blink-warning {
	70% {color: @dark; }
	to  {color: @warning; }
}

@keyframes blink-critical {
	70% {color: @dark;     }
	to  {color: @dark; background: @base0F; }
}

/* Reset all styles */
* {
	border: none;
	border-radius: 0;
	min-height: 0;
	margin: 0;
	padding: 0;
}

/* The whole bar */
#waybar {
	background: @barbg;
	color: @dark;
	font-family: DejaVu Sans, FreeSerif;
	font-size: 10pt;
	font-weight: bold;
}

/* All modules */
#backlight,
#battery,
#clock,
#mode,
#network,
#pulseaudio,
#custom-alsa,
#tray {
	padding: 0 10px;
}
/* Blinking */
#mode,
#battery {
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

/* Critical */
#battery.critical {
	color: @critical;
}
/* Critical blinking */
#mode,
#battery.critical.discharging {
	animation-name: blink-critical;
	animation-duration: 2s;
}

/* Warning */
#network.disconnected,
#battery.warning {
	color: @warning;
}
/* Warning blinking */
#battery.warning.discharging {
	animation-name: blink-warning;
	animation-duration: 4s;
}

/* Arrows */
#custom-arrow-backlight,
#custom-arrow-battery,
#custom-arrow-clock-date,
#custom-arrow-clock-time,
#custom-arrow-network,
#custom-arrow-pulse,
#custom-arrow-workspaces {
	font-size: 16px;
}

/* Colours */

#custom-arrow-workspaces {background: @barbg; color: @workspaces;}

#workspaces button         {background: @workspaces;    color: @dark; }
#workspaces button.focused {background: @thisworkspace; color: @dark; }
#mode                      {background: @mode;          color: @light;}

#custom-arrow-pulse      {background: @barbg;     color: @sound;  }
#custom-arrow-network    {background: @sound;     color: @network;}
#custom-arrow-backlight  {background: @network;   color: @backlight;}
#custom-arrow-battery    {background: @backlight; color: @battery;}
#custom-arrow-clock-date {background: @battery;   color: @date;   }
#custom-arrow-clock-time {background: @date;      color: @time;   }

#pulseaudio { background: @sound;     color: @dark;}
#network    { background: @network;   color: @dark;}
#battery    { background: @battery;   color: @dark;}
#backlight  { background: @backlight; color: @dark;}
#tray       { background: @date;      color: @dark;}
#clock.date { background: @date;      color: @dark;}
#clock.time { background: @time;      color: @dark;}

#workspaces button {
	padding: 0 7px;
}

#window {
	margin: 0 40px;
}
