/* Adapted from https://hg.sr.ht/~begs/dotfiles */

/* Gruvbox */
@define-color light #ebdbb2;
@define-color dark #282828;
@define-color warning #fabd2f;
@define-color critical #cc241d;
@define-color mode #a89984;
@define-color workspaces #458588;
@define-color workspacesfocused #83a598;
@define-color sound #d3869b;
@define-color network #b16286;
@define-color memory #8ec07c;
@define-color cpu #98971a;
@define-color temp #b8bb26;
@define-color layout #689d6a;
@define-color battery #fabd2f;
@define-color date #282828;
@define-color time #ebdbb2;

@keyframes blink-warning {
	70% {
		color: @light;
	}

	to {
		color: @light;
		background-color: @warning;
	}
}

@keyframes blink-critical {
	70% {
		color: @light;
	}

	to {
		color: @light;
		background-color: @critical;
	}
}

/* Reset all styles */
* {
	border: none;
	border-radius: 0;
	min-height: 0;
	margin: 0;
	padding: 0;
}

/* The whole bar */
#waybar {
	background: transparent;
	color: @light;
	font-family: DejaVu Sans, FreeSerif;
	font-size: 10pt;
	font-weight: bold;
}

/* All modules */
#battery,
#clock,
#mode,
#network,
#pulseaudio,
#custom-alsa,
#tray {
	padding-left: 10px;
	padding-right: 10px;
}
/* Blinking */
#mode,
#battery {
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

/* Critical */
#battery.critical {
	color: @critical;
}
/* Critical blinking */
#mode,
#battery.critical.discharging {
	animation-name: blink-critical;
	animation-duration: 2s;
}

/* Warning */
#network.disconnected,
#battery.warning {
	color: @warning;
}
/* Warning blinking */
#battery.warning.discharging {
	animation-name: blink-warning;
	animation-duration: 3s;
}


/* Modules in order */

#workspaces button {
	padding-left: 5px;
	padding-right: 5px;
	color: @dark;
	background: @workspaces;
}

#workspaces button.focused {
	background: @workspacesfocused;
}

#custom-arrow-workspaces {
	font-size: 16px;
	color: @workspaces;
	background: transparent;
}

#window {
	margin-right: 40px;
	margin-left: 40px;
}

#mode {
	color: @light;
	background: @mode;
}

#custom-arrow-pulse {
	font-size: 16px;
	color: @sound;
	background: transparent;
}

#pulseaudio {
	background: @sound;
	color: @dark
}

#pulseaudio.muted {
	/* No styles */
}

#custom-arrow-network {
	font-size: 16px;
	color: @network;
	background: @sound;
}

#network {
	background: @network;
	color: @light;
}

#custom-arrow-battery {
	font-size: 16px;
	color: @battery;
	background: @network;
}

#battery {
	background: @battery;
	color: @dark;
}

#custom-arrow-clock-date {
	font-size: 16px;
	color: @date;
	background: @battery;
}

#tray {
	background: @date;
}

#clock.date {
	background: @date;
	color: @light;
}

#custom-arrow-clock-time {
	font-size: 16px;
	color: @time;
	background: @date;
}

#clock.time {
	background: @time;
	color: @dark;
}
